.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.react-select__indicator-separator{
  display: none;
}

.react-select__clear-indicator{
  padding: 1px !important;
}
.react-select__dropdown-indicator{
  padding: 4px !important;
}
.css-byvozl-control:hover{
  border-color: #aaa !important;
}

.tabBar::-webkit-scrollbar {
  display: none;
}

.tabBar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

input[type="radio"] {
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.5em!important;
  height: 1.5em!important;
  border: 0.15em solid currentColor;
  border-radius: 50%;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root{
  font-size: 1.7rem!important;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
  font-size: 1.5rem!important;
}

.css-l0iinn{
  font-size: 1.5rem!important;
}

.specific_header_color{
  background-color: red !important;
}

.stepperStyle .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root{
  font-size: 5.5rem !important;
}

.stepperStyle .css-zpcwqm-MuiStepConnector-root{
  top: 22px !important;
  left: calc(-44% + 20px) !important;
  right: calc(55% + 20px) !important;
}